/* body{
 * 	background-color: white;
 * 	line-height: 100%;
 * 	margin:1em;
 * }
 */

/* CSSのコピペだけ！おしゃれな見出しのデザイン例まとめ68選
 * https://saruwakakun.com/html-css/reference/h-design#section1
 */
h1 {
  background: #b0dcfa; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
}
h1:first-letter {
  font-size: 2em;
  color: #7172ac;
}
/* WEBフォントで「ふい字(HuiFontP109)」 ver130717
 * http://customtemplate.blog112.fc2.com/blog-entry-143.html
 */
@font-face{
  font-family:'HuiFontP109';
  src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
  src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
}
/* body,input,textarea{font-family:'HuiFontP109';font-size:20px;}
 */

/* メモ風 cssを作ってみる
 * https://foxism.jp/2017/02/2017-02-25-184254/
 */
.memo{
	position:relative;
	background:#fffde7;
	color:#795548;
	width:90%;
	margin:2em auto;
	padding:1em 1em;
	transform: rotate(0deg);
	box-shadow:1px 1px 4px rgba(0,0,0,0.2);
	font-family:'HuiFontP109'; font-size:18px;
}
.memo::before{
	content:'';
	position:relative;
	display:inline-block;
	padding:0 1em 0.1em 0.2em;
	font-size:110%;
	font-weight:bold;
}
.memo::after{
	content:'Memo';
	position:absolute;
	background:#f0f0f080;
	text-align: center;
	left:50%;
	top:-15px;
	margin-left:-75px;
	width:150px;
	height:30px;
	box-shadow:1px 1px 4px rgba(0,0,0,0.2);
	transform: rotate(-4deg);
}
